/* General */

*, html {
    margin: 0;
    padding: 0;
}

/* Nav Bar */

nav{
    width: 100vw;
    background-color: #36393f;
    padding: 1.5em;
}

.nav-links {
    width: 80vw;
    align-items: center;
    list-style: none;
    font-weight: 600;
    display: inline;
    margin: 2em;
}

.nav-links li {
    display: inline;
}

.nav-links li a{
    font-size: 18px;
    text-decoration: none;
    transition: all ease-in-out 200ms;
    padding: 10px;
    margin: 10px;
    color:#a3a3a5;
    font-family: 'Franklin Gothic Medium', arial;
}

.selected {
    font-size: 18px;
    text-decoration: none;
    transition: all ease-in-out 350ms;
    padding: 10px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', arial;
    color:white;
    background-color: #2b2e32;
    border-radius: 5px;
}

.nav-links li a:hover{
    color:white;
    background-color: #2b2e32;
    padding: 10px;
    border-radius: 5px;
}

.nav-links li{
    position:relative;
}